{% extends "base.html" %} 
{% block title %}View Stat{% endblock %} 
{% block content %}
<style>
    body {
      background-image: url('static/images/default5.jpg');
      background-attachment: fixed;
      background-size: cover;
    }
</style>
<h1 align="center">
    <p style="color:white">Player Statistics</p>
</h1>

<form class="form-inline" method="POST" action="{{ url_for('views.view_stats') }}">
    <div class="form-group">
      <div class="input-group">
        <select name="statistic" class="selectpicker form-control">
        <option selected>{{statistic}}</option>
        {% for stat in statistics%}
        {% if stat != statistic%}
        <option value={{stat}}>{{stat}}</option>
        {% endif %}
        {% endfor %}
        </select>
      </div>
      <button type="submit" class="btn btn-primary">View Stats</button>
    </div>
  </form>
<p></p>
{% for player in playerStats%}
<img src="https://fbref.com/req/202005121/images/headshots/{{player[0]}}_2018.jpg"
alt = "NA"
wwidth="38"
height="38">
</a>
<button type="button" class="btn btn-primary">{{player[1]}}</button>
<button type="button" class="btn btn-success"> {{player[2]}}</button>
<button type="button" class="btn btn-primary">{{player[3]}}</button>
<button type="button" class="btn btn-warning">{{statistic}}: {{[player[4]][0]}}</button>
<p></p>
{% endfor %}
{% endblock %} 